.Board__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Board__section {
  flex: 1 1 100%;
  margin: 1rem 0;
  padding: 0 1rem;
  font-size: 1.4em;
  border-bottom: 1px solid rgba(0,0,0,.2)
  
}

.Board__item {
  flex: 1 1 auto;
  background: #fff;
  height: 10rem;
  width: 25%;
  margin: 0 1rem;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .9);
  border-radius: 0.3em;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.Board__title {
  font-weight: 600;
  padding-top: 0.4rem;
  font-size: 1.2em;
  flex: 1 1 auto;
}

.Board__quantity {
  font-weight: 800;
  flex: 2 1 auto;  
  font-size: 5em;
}
