.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: #00796b;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 5px 0 20px rgba(0, 0, 0, .5);
  justify-content: flex-start;
}

.logo {
  flex: 1 1 auto;
}

.logo h1 {
  font-size: 2.827em;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 600;
}

.divider {
  flex: 1 1 auto;
  border-bottom: 1px solid #fff;
  margin: 0 10px;
}

.items {
  flex: 20 1 70%;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.items ul {
  list-style-type: none;
}

.items ul li {
  text-align: center;
  padding: 1rem 0;
}

.items ul li:hover {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.items ul li a{
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.active {
  box-shadow: 0 0 30px rgba(0, 0, 0, .9);
  border-radius: 2rem;
  background: #fff;
  cursor: default !important;
}

.active a {
  color: #000 !important;
  font-weight: 800 !important;
}

.active:hover {
  background: #fff !important;
}